[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/kchrusci
[access "refs/for/refs/*"]
	read = group user/kchrusci
	push = group user/kchrusci
	label-Code-Review = -2..+2 group user/kchrusci
	label-Verified = -1..+1 group user/kchrusci
	rebase = group user/kchrusci
	removeReviewer = group user/kchrusci
	submit = group user/kchrusci
[access "refs/heads/*"]
	read = group user/kchrusci
	create = group user/kchrusci
	push = +force group user/kchrusci
	pushMerge = group user/kchrusci
[access "refs/tags/*"]
	push = group user/kchrusci
	push = +force group user/kchrusci
